/BSMyGunCollection/bin/Debug/*.*
/BSMyGunCollection/obj/Debug/*.*
/BSMyGunCollection/obj/Debug/TempPE/*.*
/BSMyGunCollection/obj/Debug/*
/BSMGC_HotFixes/bin/Debug/*.*
/BSMGC_HotFixes/obj/Debug/*.*
/BSMGC_HotFixes/bin/Debug/BSMGC_HotFixes.exe
/BSMGC_HotFixes/obj/Release/BSMGC_HotFixes.exe
/BSMGC_HotFixes/obj/Release/BSMGC_HotFixes.Resources.resources
/BSMGC_HotFixes/obj/Release/BSMGC_HotFixes.vbproj.FileListAbsolute.txt
/BSMGC_HotFixes/obj/Release/BSMGC_HotFixes.vbproj.GenerateResource.Cache
/BSMyGunCollection/bin/Release/adodb.dll
/BSMyGunCollection/bin/Release/BSMGC_HotFixes.exe
/BSMyGunCollection/bin/Release/BSMGC_HotFixes.exe.config
/BSMyGunCollection/bin/Release/BSMyGunCollection.exe
/BSMyGunCollection/bin/Release/BSMyGunCollection.exe.config
/BSMyGunCollection/bin/Release/BurnSoft.MsgBox.dll
/BSMyGunCollection/bin/Release/BurnSoft.Universal.dll
/BSMyGunCollection/bin/Release/BurnSoft.Universal.xml
/BSMyGunCollection/bin/Release/Config.xml
/BSMyGunCollection/bin/Release/DataGridViewAutoFilter.dll
/BSMyGunCollection/bin/Release/DBBackup.exe
/BSMyGunCollection/bin/Release/DBBackup.exe.config
/BSMyGunCollection/bin/Release/DBRestore.exe
/BSMyGunCollection/bin/Release/DBRestore.exe.config
/BSMyGunCollection/bin/Release/MGC.mdb
/BSMyGunCollection/bin/Release/mgc_default.jpg
/BSMyGunCollection/bin/Release/my_gun_collection_help.chm
/BSMyGunCollection/bin/Release/MyGunCollection_DataLoader.exe
/BSMyGunCollection/bin/Release/MyGunCollection_DataLoader.XmlSerializers.dll
/BSMyGunCollection/obj/Release/BSMyGunCollection.AboutBox1.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.BSRegistration.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.EditGunClassications.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.exe
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddAccessory.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddAmmo.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddAmmoAudit.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddBarrelSystem.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddCollectionAmmo.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddDocument.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddFirearm.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddFirearmClassification.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddGunSmithLog.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddMaintance.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddMaintancePlans.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddManufacturer.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddModel.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddNationality.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddPicture.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAddToWishList.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmAmmoCalc.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmCopyAccessory.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmCR_EditSQL.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmCR_SelectColumns.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmCR_SelectTable.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmCR_ViewReport.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmDBCleanup.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditAccessory.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditAmmunitionType.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditBarrelSystem.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditCollectionDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditFirearmType.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditGunConditions.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditGunSmithLog.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditMaintenance.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditmanufactures.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditModel.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditModelTypes.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditNationality.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditPicturedetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditShopDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmEditWishlist.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmFirearmImagePicker.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmForgotPassword.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmForSale.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmImportFirearm.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmLinkDocToFirearm.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmLinkFromExistingDoc.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmLogin.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmMoveBarrelConKit.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmSearch_Collection.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmSettings.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmSold.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmStolen.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewAmmoAuditList.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewAmmoInventory.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewAppraiserDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewAppraisers.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewBuyerDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewBuyers.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewCollectionDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewDocuments.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewGrips.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewGunSmithDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewGunSmiths.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewMaintancePlan.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewMaintancePlanList.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewPicture.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Accessories.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Ammo.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Ammo_By_Caliber.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Blank_BoundBook.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Blank_ShootersCard.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Blank_ShootersCard2.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_BoundBook.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_BoundBook2.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_FirearmDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_FirearmDetailsFullDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_FirearmSaleInvoice.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_GunSmith.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance_ApprisedValue.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance_ApprisedValue_wTotal.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance_InsuredValue.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance_InsuredValue_wTotal.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Insurance_wTotal.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Maintenance.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Pictures.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_Quickinv_w_DetailNotes.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewReport_WishList.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewShopDetails.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewShops.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.frmViewWishList.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.MDIParent1.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.Resources.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.SplashScreen1.resources
/BSMyGunCollection/obj/Release/BSMyGunCollection.vbproj.FileListAbsolute.txt
/BSMyGunCollection/obj/Release/BSMyGunCollection.vbproj.GenerateResource.Cache
/BSMyGunCollection/obj/Release/RdlCompile.cache
/BSMyGunCollection/obj/Release/RdlCompile.compiled
/BSMyGunCollection_Setup/BSMyGunCollection_Setup/Release/BSMyGunCollection_Setup.msi
/BSMyGunCollection_Setup/BSMyGunCollection_Setup/Release/setup.exe
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.exe
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.frmApplyUpdates.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.frmDownloadUpdates.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.frmFinish.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.frmMain.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.frmSelectUpdates.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.Resources.resources
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.vbproj.FileListAbsolute.txt
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.vbproj.GenerateResource.Cache
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.XmlSerializers.dll
/MyGunCollection_DataLoader/obj/Release/MyGunCollection_DataLoader.vbproj.FileListAbsolute.txt
/BSMyGunCollection_Setup/BSMyGunCollection_Setup/Release/.DS_Store
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.exe
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.frmApplyUpdates.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.frmDownloadUpdates.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.frmFinish.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.frmMain.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.frmSelectUpdates.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.pdb
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.Resources.resources
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.vbproj.FileListAbsolute.txt
/MyGunCollection_DataLoader/obj/Debug/MyGunCollection_DataLoader.vbproj.GenerateResource.Cache
MyGunCollection_DataLoader/obj/
BSMyGunCollection/obj/
BSMGC_HotFixes/obj/
BSMyGunCollection/obj/Release/BSMyGunCollection.vbprojResolveAssemblyReference.cache
