BSMyGunCollection/bin
BSMyGunCollection/obj
BSMGC_HotFixes/bin
BSMGC_HotFixes/obj
BSMyGunCollection_Setup/BSMyGunCollection_Setup
Thumbs.db
BSMGC_HotFixes/obj
BSMyGunCollection/.vs
.vs/
BSMyGunCollection/packages
*.ldb
/packages
BSMyGunCollection_Setup/Debug
BSMyGunCollection_Setup/Release
BSMyGunCollection/obj/Release/DesignTimeResolveAssemblyReferences.cache
