/BSMyGunCollection/bin/Debug/*.*
/BSMyGunCollection/obj/Debug/*.*
/BSMyGunCollection/obj/Debug/TempPE/*.*
/BSMyGunCollection/obj/Debug/*
/BSMGC_HotFixes/bin/Debug/*.*
/BSMGC_HotFixes/obj/Debug/*.*
/BSMGC_HotFixes/bin/Debug/BSMGC_HotFixes.exe
