<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSMyGunCollection.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="BSMyGunCollection.mgc" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSMyGunCollection.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BSMyGunCollection.My.Settings.MGCConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MGC.mdb;Persist Security Info=True;Encrypt Password=False;Mask Password=False;Jet OLEDB:Database Password=14un0t2n0" providerName="System.Data.OleDb"/>
    <add name="BSMyGunCollection.My.MySettings.MGCConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MGC.mdb;Persist Security Info=True;Encrypt Password=False;Mask Password=False;Jet OLEDB:Database Password=14un0t2n0" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <BSMyGunCollection.My.MySettings>
      <setting name="ViewCollectionDetails_Height" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewCollectionDetails_Width" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewPicture_Height" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewPicture_Width" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewPicture_X" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewPicture_Y" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewCollectionDetails_X" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewCollectionDetails_Y" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoInv_Height" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoInv_Width" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoInv_X" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoInv_Y" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoadt_Height" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoadt_Width" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoadt_X" serializeAs="String">
        <value/>
      </setting>
      <setting name="ViewAmmoadt_Y" serializeAs="String">
        <value/>
      </setting>
      <setting name="frmFirearmImagePicker_Height" serializeAs="String">
        <value/>
      </setting>
      <setting name="frmFirearmImagePicker_Width" serializeAs="String">
        <value/>
      </setting>
      <setting name="frmFirearmImagePicker_X" serializeAs="String">
        <value/>
      </setting>
      <setting name="frmFirearmImagePicker_Y" serializeAs="String">
        <value/>
      </setting>
    </BSMyGunCollection.My.MySettings>
  </userSettings>
  <applicationSettings>
    <BSMyGunCollection.My.MySettings>
      <setting name="App_UseRegistry" serializeAs="String">
        <value>False</value>
      </setting>
    </BSMyGunCollection.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="DEBUG_MODE" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
