<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="AppName" value="DBBackup"/>
    <add key="MainAppName" value="My Gun Collection"/>
    <add key="DBName" value="MGC.mdb"/>
    <add key="RegKey" value="Software\BurnSoft\BSMGC\"/>
    <add key="CheckProcess" value="false"/>
    <add key="LogFilename" value="dbbackup.err.log"/>
    <add key="AppABV" value="MGC"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
