<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BurnSoft.Security.RegularEncryption" version="1.0.0" targetFramework="net472" />
  <package id="BurnSoft.Universal" version="4.0.32.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net40" />
</packages>