<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BurnSoft.Applications.MGC" version="1.7.15.55" targetFramework="net481" />
  <package id="BurnSoft.MsgBox" version="2.32.356.3463" targetFramework="net481" />
  <package id="BurnSoft.Security.RegularEncryption" version="1.1.1.2" targetFramework="net481" />
  <package id="BurnSoft.Universal" version="4.1.33.9" targetFramework="net481" />
  <package id="DataGridViewAutoFilter" version="4.7.2.34861" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net481" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net481" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net472" />
</packages>